@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
.volver {
  background: black;
  padding: 10px 15px;
  position: absolute;
  color: white;
  text-decoration: none;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.volver.--open {
  opacity: 1;
  visibility: visible;
}
section {
  width: 50%;
  height: 100vh;
  transition: all 0.3s ease;
  color: white;
}
section.--open {
  width: 100%;
}
section.--hidden {
  width: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
section .title {
  font-size: 25px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}
section .title:hover {
  margin-top: -20px;
}
section.grav {
  section.grav {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientAnimation 10s ease infinite;
}
}
section.grav .title {
  color: rgba(0, 0, 0, 0.9);
}
section.contentful {
  background: #192532;
}
section.contentful .title {
  color: white;
}
section.grav.--open,
section.contentful.--open {
  padding: 15px;
}
section.grav.--open .title,
section.contentful.--open .title {
  min-height: 50px;
  text-align: center;
  margin-top: 0;
  cursor: default;
}
section.grav.--open .info,
section.contentful.--open .info {
  opacity: 1;
  visibility: visible;
  max-height: initial;
  padding-bottom: 20px;
}
section .info {
  font-size: 17px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
section h2 {
  font-size: 22px;
  font-weight: bold;
}
section a {
  color: white;
  text-transform: italic;
}
